@font-face {
	font-family: 'Aveta Demo PE'; 
	src: url(/dist/fonts/averta_demo_pe_cutted_demo_regular.woff2); 
}

@font-face {
	font-family: 'Proxima Nova'; 
	src: url(/dist/fonts/proxima_nova_bold.woff2); 
}